button {
  background-color: #f57d00;
  border: 0;
  padding: 8px;
  border-radius: 3px;
  color: #fff;
  transition: 0.3s ease all;
  cursor: pointer;
}

button:hover {
  color: #f57d00;
  background-color: black;
}